.gitignore

venv/
__pycache__/

# local files used mainly for debugging purposes
plant_simulation_animation.mp4
Model/todo.md
Model/main.py

lightning_logs/

Data/main.py
Data/synthetic_dataset_stats.csv
Data/read_plot.py

artifacts/

# local data logging directory and W&B folder
wandb
Server/data/*
